#map {
    width: 100%;
    height: 500px;
}

#map:focus, .esri-view-root:focus, .esri-view-surface:focus {
    outline: none !important;
}

.card {
    height: 500px;
}

.card-body {
    overflow-y: scroll;
}

.card img {
    width: 175px;
    height: 175px;
    border-radius: 50%;
    object-fit: cover;
}

i {
    font-size: 20px;
}